.cmp-main-container{
  width: 500px;
  margin: auto;
}
nav {
  margin-bottom: 1em;

  a{
    padding: 6px;
  }

  &>ul{
    display: flex;
    flex-direction: row;
    column-gap: 4px;

    &>li{
      display: inline-block;

      &>a, a.st-active{
          color: rgb(255, 249, 249);
          text-decoration: none;
          border: 1px solid rgb(23, 41, 121);
          border-radius: 4px;
          background-color: rgb(31, 73, 121);
      }
    }
  }
}



